/* Center the form and the result element */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://d2ubrtwy6ww54e.cloudfront.net/www.uvmhealth.org/assets/styles/blog_hero/s3/blog_images/Illustration-woman-rubbing-her-temples.jpg?VersionId=dbija8KZxl.jZspVsIOeUykN.vMuDVtY&h=06ac0d8c&itok=M081xn37');
    background-repeat: no-repeat;
    background-size: cover; 
  }

  #div1, #div2, #div3 {
    display: inline-block;
    width: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  #div1 {
    background-color: white;
    padding-bottom: 50px;
    padding-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }

  #div3 {
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    text-align: center;
   
  }
  
  h1 {
   text-align: center;
  }

  /* Style the form elements */
  form {
    background-color: #A0B2E1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  select {
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3261E1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }